# =========================
# Secrets & Configuration
# =========================

.env


# =========================
# Python & Virtual Environments
# =========================

venv/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class

# =========================
# OS & IDE Files
# =========================

.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
!market_order.log
!limit_order.log